{% extends 'base.html' %}

{% block content %}

<div class="container">


    <div class="card my-2">
        <h5 class="card-header">Создание новой карточки</h5>

        <div class="card-body">


            

            <form method="post" novalidate>
                {{ form.hidden_tag() }}

                <!-- <div class="d-flex justify-content-around">

                    <a href="{{ url_for('admin.index') }}" alt="{{ url_for('admin.index') }}" class="btn btn-primary col-3 mb-3">Вернуться к списку</a> -->
                    <!-- <a href="" alt="" class="btn btn-primary col-4 mb-3">Перейти к исходнику</a> -->

                    <!-- Кнопка подтверждения записи -->
                    <!-- {{ form.submit(class="btn btn-primary col-4 mb-3") }}
                </div> -->
                
            <div class="d-flex flex-column flex-md-row justify-content-start  ">

                <!-- Кнопка "Вернуться к списку" на admin/index.html -->
                <div class="mb-1 me-1 col-7 col-md-3  ">
                    <a class="btn btn-sm btn-outline-primary w-100" href="{{ url_for('admin.index') }}" alt="{{ url_for('admin.index') }}" role="button">
                        Вернуться к списку
                    </a>
                </div>

                <!-- Кнопка подтверждения записи -->
                <div class="mb-1 me-1 col-7 col-md-3  ">
                    {{ form.submit(class="btn btn-sm btn-outline-primary w-100") }}
                </div>
                
                <script type="text/javascript">
                    //Обработка формы admin/update.html в части вывода ошибки, если не выбрана категория
                    
                    document.getElementById("submit").addEventListener("click", (e) => {                        
                        if (document.getElementById("select_category").options.selectedIndex == 0){
                            document.getElementById("nonselect_error").removeAttribute("hidden");
                            e.preventDefault();
                        }
                    });
                </script>

            </div>
                
                <div class="d-flex flex-column mb-3">

                    <!-- Выбор категории -->
                    {{ form.select_category(class="form-select mb-3") }}

                    {% if form.select_category.errors %}
                        {% for error in form.body.errors %}
                            <div class="p-1 mb-2 bg-danger text-white text-center rounded">[{{ error }}]</div>
                        {% endfor %}
                    {% endif %}
                    <div id="nonselect_error" class="p-1 mb-2 bg-danger text-white text-center rounded" hidden>Необходимо выбрать категорию!</div>

                    <!-- Заголовок карточки -->
                    <div class="">{{ form.header.label() }}</div>
                    <div class="form-floating mb-3 ">
                        
                        {{ form.header(class="form-control mt-0", placeholder="Текст карточки") }} 
                        <label for="header" >Введите заголовок карточки</label>
                    </div>

                    <!-- Текст карточки -->
                    <div class="">{{ form.body.label() }}</div>
                    <div class="form-floating mb-3 ">
                        
                        {{ form.body(class="form-control mt-0", placeholder="Текст карточки") }}
                        <label for="body" class="" >Поле обязательно для заполнения!</label>
                        {% if form.body.errors %}
                            {% for error in form.body.errors %}
                                <div class="p-1 mb-2 bg-danger text-white text-center rounded">[{{ error }}]</div>
                            {% endfor %}
                        
                        {% endif %}
                        
                    </div>
                    <!-- Ключевые слова -->
                    <div class="">{{ form.keywords.label() }}</div>
                    <div class="form-floating mb-3 ">
                        
                        {{ form.keywords(class="form-control mt-0", placeholder = 'Ключевые слова') }}   <!-- , style="border-radius: 0 0 7px 7px;" -->
                        <label for="keywords" class="">Ключевые слова нужно вводить через запятую!</label>    <!--  class="form-label input-group-text mb-0" style="border-radius: 7px 7px 0 0; border-bottom-style: none;" -->
                        <!-- <div id="input_keywords_help_block" class="form-text">
                            
                        </div> -->
                    </div>
                    <!-- Ссылка на исходный пост -->

                    <div class="">{{ form.link.label() }}</div>
                    <div class="form-floating mb-3 ">           <!-- form-label input-group-text mb-0 -->
                        
                        {{ form.link(class="form-control mt-0", placeholder="Ссылка") }}
                        <label for="link" class="" >{{ form.link.label() }}</label>

                    <!-- <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Адрес электронной почты</label>
                    </div> -->



                    </div>
                </div>
                    
                <!-- Прилагаемые файлы -->
                {{ form.attached_files(hidden=true) }}
                <!-- Ввод id категории -->
                {{ form.category_id(hidden=true) }}  
                
                
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>

                                <div class="p-1 mb-2 bg-danger text-white text-center rounded">[{{ message }}]</div>

                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        </div>
      </div> 

</div>

{% endblock content %}