{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-header">
            <h5 class="card-title ">Категория: {{ post.category_name }}</h5>
        </div>
        <div class="card-body">
          
            <h6 class="card-subtitle mb-2 text-muted">{{ post.header }}</h6>
            <p class="card-text">{{ post.body }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {% for keyword in keywords_list %}
                <a href="#" class="text-decoration-none fst-italic fw-light m-1">{{ keyword }}</a>
                {% endfor %}
            </li>
            <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
        <div class="card-body">
            
            {% if back_link|int == 1 %}
                <a href=" {{ url_for('main.index') }} " alt="{{ url_for('main.index') }}" class="btn btn-primary mb-3" >Вернуться назад</a>
            {% endif %}
            {% if back_link|int == 2 %}
                <a href=" {{ url_for('posts.view_posts', category_id=category_id|int) }} " alt="{{ url_for('posts.view_posts', category_id=category_id) }}" class="btn btn-primary mb-3" >Вернуться назад</a>
            {% endif %}

            {% if current_user.username == 'admin' %}
                <a href="{{ post.link }}" alt="{{ post.link }}" class="btn btn-primary mb-3">Перейти по ссылке</a>
            {% endif %}
        </div>
      </div>


</div>
    

{% endblock content %}