<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Aleks Golikov">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='icons/favicon.svg') }}">
    

    <!--STYLES-->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <!--TITLE-->
    <title>
      {% block title %}
        {{ title }}
      {% endblock title %}
    </title>
  </head>
  <body>
    <!--Горизонтальное меню-->
    {% block menu %}
      {% include 'menu.html' %}
    {% endblock menu %}

    <!--Выплывающее боковое меню-->
    {% block menu_side %}
      {% include 'menu_side.html' %}
    {% endblock menu_side %}

    <!--Контент-->
    <div class="content">

      {% block content %}



      {% endblock content%}

    </div>
    


    <!--Подвал-->    
    <footer class="footer">
      
      <div class="container">
        <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-body-secondary text-center">&copy; 2025 Домашняя школа</p>
        </footer>
      </div>

    </footer>
    
    <!--JAVASCRIPT-->
    {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script type="text/javascript">
      //вывести значение текущей открытой в браузере страницы в поле ввода пагинации 
 
      document.getElementById("input_page").addEventListener("blur", () => {
          document.getElementById("input_page").placeholder = myFunc( {{ current_page }} );
      });
      document.getElementById("input_page").addEventListener("focus", () => {
          document.getElementById("input_page").placeholder = '';
      });
      document.addEventListener("DOMContentLoaded", () => {
          document.getElementById("input_page").value = '';
          document.getElementById("input_page").placeholder = myFunc( {{ current_page }} );
      });
   </script>
  </body>
</html>