{% extends 'base.html' %}

{% block content %}


<div class="container">

    {% for post in posts %}

    <div class="card my-2">
        <h5 class="card-header">
 
            {{ post.category_name }}

        </h5>
        <div class="card-body">
            <h5 class="card-title">{{ post.body | truncate(length=50, killwords=True) }}</h5>
            <p class="card-text">{{ post.body | truncate(length=350, killwords=True) }}</p>

            <a href="{{ url_for('posts.view_post', post_id=post.id, back_link=back_link, category_id=category_id) }}" alt="{{ url_for('posts.view_post', post_id=post.id, back_link=back_link, category_id=category_id) }}" class="btn btn-primary mb-3">Открыть карточку</a>

            {% if current_user.username == 'admin' %}
                <a href="{{ post.link }}" alt="{{ post.link }}" class="btn btn-primary mb-3">Перейти к исходнику</a>
            {% endif %}
        </div>
      </div>

    {% endfor%}  

    {% block pagination %}
      {% include 'pagination.html' %}
    {% endblock pagination %}

</div> 



{% endblock content %}