{% extends 'base.html' %}

{% block content %}


<div class="container">

    {% for post in posts %}

        <div class="card my-3">
            <h5 class="card-header ">
    
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1rem' height='1rem'%3E%3Cpath d='M9.502 5.513a.144.144 0 0 0-.202.134V6.65a.5.5 0 0 1-.5.5H2.5v2.9h6.3a.5.5 0 0 1 .5.5v1.003c0 .108.11.176.202.134l3.984-2.933a.51.51 0 0 1 .042-.028.147.147 0 0 0 0-.252.51.51 0 0 1-.042-.028L9.502 5.513zM8.3 5.647a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.503H2a.5.5 0 0 1-.5-.5v-3.9a.5.5 0 0 1 .5-.5h6.3v-.503z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">{{ post.category_name }}</li>
                        <li class="breadcrumb-item " aria-current="page">
                            {% if post.header %}
                                {{ post.header }}
                            {% else %}
                                {{ post.body | truncate(length=50, killwords=True) }}
                            {% endif %}
                        </li>
                        <li class="breadcrumb-item active">№ записи: [{{ post.id }}]</li>
                    </ol>
                </nav>
                

            </h5>
            <div class="card-body">
                <h5 class="card-title">
                    
                </h5>
                <p class="card-text">{{ post.body | truncate(length=350, killwords=True) }}</p>
                <p class="card-text fst-italic">
                    {% if post.keywords and (post.keywords|length > 1) %}
                        {% set keywords_list = post.keywords.split(',') %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                
                                {% for keyword in keywords_list %}
                                    <a href="#" class="text-decoration-none fst-italic fw-light m-1">{{ keyword|trim }}</a>
                                {% endfor %}
                                
                            </li>
                            <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li> -->
                        </ul>
                    {% endif %}
                </p>

                {% if post.attached_files %}
                    <p class="card-text">{{ post.attached_files }}</p>
                {% endif %}

                <div class="d-flex flex-column flex-md-row justify-content-start  ">

                        <!-- Кнопка "Открыть карточку" к posts/view_post.html -->
                        <div class="mb-1 me-1 col-7 col-md-3  ">
                            <a class="btn btn-sm btn-outline-primary w-100" href="{{ url_for('posts.view_post', post_id=post.id, back_link=back_link) }}" alt="{{ url_for('posts.view_post', post_id=post.id, back_link=back_link) }}" role="button">
                                Открыть карточку
                            </a>
                        </div>

                    {% if current_user.username == 'admin' %}

                        <!-- Кнопка "Перейти по ссылке" к исходному посту -->
                        <div class="mb-1 me-1 col-7 col-md-3  ">
                            <a class="btn btn-sm btn-outline-primary w-100" href="{{ post.link }}" alt="{{ post.link }}"  target="_blank" role="button">
                                Перейти по ссылке
                            </a>
                        </div>

                        <!-- Кнопка "редактировать" -->
                        <div class="mb-1 col-7 col-md-3  ">
                            <a class="btn btn-sm btn-outline-primary w-100" href="{{ url_for('admin.update', post_id=post.id, back_link=back_link) }}" alt="{{ url_for('admin.update', post_id=post.id, back_link=back_link) }}" role="button">
                                Редактировать
                            </a>
                        </div>
                    {% endif %}
                </div>

                <!-- Кнопка "Открыть карточку" к posts/view_post.html -->
                <!-- <a href="{{ url_for('posts.view_post', post_id=post.id, back_link=back_link) }}" alt="{{ url_for('posts.view_post', post_id=post.id, back_link=back_link) }}" class="btn btn-primary">Открыть карточку</a> -->

                <!-- {% if current_user.username == 'admin' %} -->
                    
                    <!-- Кнопка "Перейти по ссылке" к исходному посту -->
                    <!-- <a href="{{ post.link }}" alt="{{ post.link }}"  target="_blank"  class="btn btn-primary">Перейти по ссылке</a> -->
                    
                    <!-- Кнопка "редактировать" -->
                    <!-- <a href="{{ url_for('admin.update', post_id=post.id, back_link=back_link) }}" alt="{{ url_for('admin.update', post_id=post.id, back_link=back_link) }}"  class="btn btn-primary col-2">Редактировать</a> -->

                <!-- {% endif %} -->

            </div>
        </div>

    {% endfor%}  

    {% block pagination %}
        {% include 'pagination.html' %}
    {% endblock pagination %}

</div> 



{% endblock content %}