{% block content %}

<div class="container">
    <header class=" border-bottom ">

        <div class="d-flex  justify-content-between   ">

            
            <div class="d-inline-flex col-2 col-sm-2 align-items-center">

                <!-- Кнопка "Меню" -->

                <div class="d-flex   align-items-center w-100 h-100 ">
                    <a class="btn btn-outline-primary btn-sm w-10 w-sm-100 col-sm-12 p-1" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" role="button">
                        <div class="d-flex align-items-center justify-content-start  ">
                            <div class="  ">

                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-list " viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                </svg>

                            </div>
                            <div class="d-none d-sm-block ms-3 " >
                                
                                    Меню
                                                                       
                            </div>
                        </div>
                            
                    
                    </a>
                </div>

            </div>
            
                
            
            <div class="d-block  col-9 col-sm-4  " >
                <div class="d-flex align-items-center justify-content-center h-100 w-100">
                    <a class="#" href="{{ url_for('main.index') }}">
                        <div class="d-flex flex-column ">
                        
                            <img class="img-fluid w-100"  src="{{ url_for('static', filename='img/logo/home.png') }}" >
                            <img class="img-fluid w-100"  src="{{ url_for('static', filename='img/logo/school.png') }}" >
                        
                        </div>
                    </a>
                </div>
                

            </div>
            
            <div class="d-flex block  d-none d-sm-block col-sm-3 col-lg-2  align-items-center ">
                <!-- {% if current_user.is_anonymous %} -->
                    
                        <!-- Кнопка "Регистрация" -->
                        
                        <div class="d-flex   align-items-center  w-100 h-100 ">
                            <a class="btn btn-outline-primary btn-sm disabled col-sm-12 p-1 me-1 " href="{{ url_for('users.login') }}" role="button">
                                <div class="d-flex align-items-center justify-content-start  ">
                                    <div class="ms-2  ">

                                        <svg class=" bi bi-person-circle " xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"  viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                        </svg>

                                    </div>
                                    <div class="ms-3 " >
                                        
                                            Регистрация
                                                                                
                                    </div>
                                </div>

                            </a>
                        </div>
                        
           
                <!-- {% endif %}
                {% if current_user.is_authenticated %} -->
                    <!-- Кнопка "Выйти из системы" -->
                    
                        
                        <div class="d-flex   align-items-center w-100 h-100 ">
                            <a class="btn btn-outline-primary btn-sm col-sm-12 p-1 my-1 " href="{{ url_for('users.logout') }}" role="button">
                                <div class="d-flex align-items-center justify-content-start  ">

                                    <div class="ms-2  ">
                                        <svg class=" bi bi-person-circle" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"  viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                        </svg>
                                    </div>
                                    <div class="ms-3  ">
                                        
                                            {{ current_user.username }}
                                        
                                        
                                    </div>
                                    
                                </div>
                                

                            </a>
                        </div>
                        
                   
                <!-- {% endif %}  -->
            </div>
        </div>

    </header>
</div>

    


{% endblock content %}