{% block pagination %}

{% if qty_of_pages > 1 %}
    
    <ul class="pagination justify-content-center " style="height: 2.5em">
        
        <li class="page-item">
            <a class="page-link {% if not prev_url %} disabled {% endif %}" href="{{ prev_url }}">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.6em" widtg="1.6em" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                    <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                </svg>
            </a>
        </li>
        <li class="page-item col-sm-1 col-md-1">

            <form name="input_page_form " method="post" action="" novalidate>
                {{ form.hidden_tag() }}
                {{ form.input_page(type="text", class="form-control text-center", id="input_page", style="border-radius: 0 !important; height: 2.5em", placeholder="") }}
                {{ form.submit(hidefocus="true", id="input_page_submit", style="visibility: hidden;")}}
            </form>
            <div id="show_json"></div>
        </li>
        <li class="page-item ">
            <a class="page-link {% if not next_url %} disabled {% endif %} " href="{{ next_url }}"> 
                <svg xmlns="http://www.w3.org/2000/svg" height="1.6em" widtg="1.6em" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                    <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                </svg>
            </a>
        </li>
    </ul>

{% endif %}

{% endblock pagination %}

